<div class="background">
    <div class="calculator">
        <div class="operations">
          <div class="operations-text">
            <input type="text" class="rectangle-input" placeholder="0" [(ngModel)]="currentOperation" appNumericOperatorInput>
          </div>
        </div>
        <div class="digits">
          <div class="digit-column">
            <button class="digit-button" (click)="handleOperatorClick('1')">1</button>
            <button class="digit-button" (click)="handleOperatorClick('4')">4</button>
            <button class="digit-button" (click)="handleOperatorClick('7')">7</button>
            <button class="digit-button" (click)="handleOperatorClick('0')">0</button>
          </div>
          <div class="digit-column">
            <button class="digit-button" (click)="handleOperatorClick('2')">2</button>
            <button class="digit-button" (click)="handleOperatorClick('5')">5</button>
            <button class="digit-button" (click)="handleOperatorClick('8')">8</button>
            <button class="digit-button" (click)="handleOperatorClick(',')">,</button>
          </div>
          <div class="digit-column">
            <button class="digit-button" (click)="handleOperatorClick('3')">3</button>
            <button class="digit-button" (click)="handleOperatorClick('6')">6</button>
            <button class="digit-button" (click)="handleOperatorClick('9')">9</button>
            <button class="digit-button-equal" (click)="handleOperatorClick('=')">=</button>
            <button class="operator-button" (click)="handleOperatorClick('«')">«</button>
          </div>
          <div class="digit-column">
            <button class="operator-button" (click)="handleOperatorClick('+')">+</button>
            <button class="operator-button" (click)="handleOperatorClick('-')">-</button>
            <button class="operator-button" (click)="handleOperatorClick('*')">×</button>
            <button class="operator-button" (click)="handleOperatorClick('/')">÷</button>
            <button class="operator-button" (click)="handleOperatorClick('🛇')">🛇</button>
          </div>

        </div>
    </div>
</div>    