@font-face {
  font-family: "DigifaceWide";
  src: url("../../../assets/fonts/digifacewide/digifacewideregular.ttf") format("truetype");
}

.background {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -35px;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(18, 18, 18);
  height: 80vh;
  width: 70vw;
  margin: 0;
  border-radius: 20px;
}

.operations {
  background-color: rgb(34, 34, 34);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 5px;
  margin-top: 20px;
  width: 70%;
  height: 10%;
  text-align: center;
  border: none;
}

.rectangle-input {
  margin-top: 10px;
  border: none;
  background-color: rgb(34, 34, 34);
  color: rgb(0, 255, 0);
  padding: 10px;
  border-radius: 10px;
  outline: none;
  width: 100%;
  font-size: 25px;
  font-family: "DigifaceWide", sans-serif;
}

.digits {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
}

.digit-column {
  display: flex;
  flex-direction: column;
}

.operators{
  display: flex;
  flex-direction: row;
}

.digit-button {
  background-color: rgb(34, 34, 34);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
  font-family: "DigifaceWide", sans-serif;
}

.digit-button-equal {
  background-color: rgb(34, 34, 34);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.operator-button {
  background-color: rgb(34, 34, 34);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.digit-button:hover, .operator-button:hover, .digit-button-equal:hover {
  background-color: rgb(53, 53, 53);
}