@font-face {
  font-family: "DigifaceWide";
  src: url("../../../assets/fonts/digifacewide/digifacewideregular.ttf") format("truetype");
}

.background {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(18, 18, 18);
  height: 80vh;
  width: 25vw;
  margin: 0;
  border-radius: 20px;
}

@media screen and (max-width: 1075px) {
  .calculator {
    height: 75vh;
    width:85vw;
  }
} 

@media screen and (max-width: 1075px) {
  .digits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    position: relative;
    top: -100px;
  }
}

@media screen and (max-width: 1075px) { 
  .digit-button, .digit-button-text {
    background-color: rgb(34, 34, 34);
    width: 80%;
    height: 80%;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
  }
}

.operations {
  background-color: rgb(34, 34, 34);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 5px;
  margin-top: 20px;
  width: 70%;
  height: 10%;
  text-align: center;
  border: none;
}

.rectangle-input {
  margin-top: 5px;
  border: none;
  background-color: rgb(34, 34, 34);
  color: rgb(0, 255, 0);
  padding: 10px;
  border-radius: 10px;
  outline: none;
  width: 95%;
  font-size: 25px;
  font-family: "DigifaceWide", sans-serif;
}

.digits {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  top: 20px;
  position: relative;
}

.digit-column {
  display: flex;
  flex-direction: column;
}

.digit-button, .digit-button-text {
  background-color: rgb(34, 34, 34);
  width: 48px;
  height: 48px;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 10px 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.digit-button{
  font-family: "DigifaceWide", sans-serif
}

.digit-button:hover, .digit-button-text:hover {
  background-color: rgb(53, 53, 53);
}